#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #0a12e4;
}

//Import untitled1

.portfolio .portfolio-item .portfolio-item-caption {
  transition: all ease .5s;
  opacity: 0;
  background-color: rgba(0,178,255,0.9);
}

//Import untitled2
.bg-primary {
  background-color: rgb(19,27,221)!important;
}

